/* weather-conditions */
.weather-conditions {
  display: flex;
  flex-direction: column;
  background-color: #202835;
  border-radius: 15px;
  padding: 20px;
}
.conditions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.air-conditions {
  padding: 20px;
  display: flex;
  flex-direction: row;
}
.air-conditions p {
  padding-left: 50px;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
}
.left-conditions,
.right-conditions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 350px;
}
.air-conditions img {
  width: 45px;
}
