<header>
  <div class="header-menu">
    <div class="logo-container">
      <a class="logo" href="/dashboard">ClearSky.bg</a>
    </div>
    <div class="user-menu">
      <div class="theme-switch">
        <input type="checkbox" id="theme-toggle" (change)="toggleTheme()" />
        <label for="theme-toggle" class="switch">
          <span class="slider"></span>
        </label>
      </div>
      <div class="nav-items">
        <nav class="user-nav">
          <ul>
            <li class="user-logout">
              <a href="#" (click)="logout(); $event.preventDefault()">Logout</a>
            </li>
            <!-- if not logged -->
            <li class="user-login"><a href="/login">Login</a></li>
            <li class="user-register">
              <a href="/register">Register</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
